input[type="text"] {
  padding: 8px;
  width: 60%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul li a {
  font-size: 18px;
  color: #333;
}

ul li a:hover {
  font-size: 18px;
  color: #333;
  text-decoration: underline;
}