* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f3f3f3;
    padding: 20px 0;
}

.container-header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #7b7c7c;
}

.container-main {
    background-color: #0078d4;
    color: white;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

.box { 
    position: absolute;
    width: 60%;  
    height: 60%; 
    max-width: 550px;  
    max-height: 400px; 
    top: 50%;  
    left: 25%; 
    transform: translate(-50%, -50%); 
    padding: 60px; 
    text-align: left;
} 

.box .h1 {
    color: black;
    font-size: 2rem; 
    font-weight: 600; 
    margin-bottom: 15px;
} 

.box p {
    color: black;
    line-height: 1.6;  
    margin-bottom: 10px; 
} 

.box .button { 
    display: inline-block; 
    background: #0078d4; 
    border: none; 
    padding: 12px 20px; 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    text-align: center;
    transition: background 0.3s ease;
} 
 
.box .button:hover { 
    background-color: blue; 
} 
 
.box2 { 
    position: absolute;  
    width: 60%;  
    height: 60%; 
    max-width: 550px;  
    max-height: 400px; 
    top: 50%;  
    left: 25%; 
    transform: translate(-50%, -50%); 
    padding: 60px; 
    text-align: left; 
     
} 

.box2 .h1 { 
    font-size: 2rem; 
    font-weight: 600; 
    margin-bottom: 15px; 
} 

.box2 p { 
    line-height: 1.6;  
    margin-bottom: 10px; 
} 

.box2 .button { 
    display: inline-block; 
    background: #0078d4; 
    border: none; 
    padding: 12px 20px; 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    text-align: center;  
    transition: background 0.3s ease;
} 

.box2 .button:hover { 
    background-color: blue; 
}

.cta-button {
    background-color: #ffffff;
    color: #0078d4;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.card img {
    border-radius: 5px 5px 0 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
}

.links-list li {
    padding: 5px 10px;
    font-size: 12px;
    color: #8a8d91;
}

.links-list li a {
    text-decoration: none;
    color: #8a8d91;
}

.links-list li a:hover {
    text-decoration: underline;
}